.hr {
  margin: auto 0;
}

#logo {
  width: 150px;
}

#linkedin {
  width: 30px;
}

#Parallume_Bead {
  width: 100%;
}
#Logo_With_Tagline {
  width: 100%;
}
.green-div {
  background-color: #E5F0F1;
}

.white-div {
  background-color: white;
}

.black-div {
  background-color: black;
}

.copyright {
  font-size: 11px;
}

.red-div {
  background-color: red;
}
